/* Estilo para toda la web */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* Estilo cabecera */
.cabecera {
    background: #d6bebe;
    padding: 1rem;
    text-align: center;
}

.nombre {
    margin: 0;
    font-size: 28px;
}

