# Created by venv; see https://docs.python.org/3/library/venv.html
/EJERCICIO/IA_BOT/venv3_13_5
/EJERCICIO/IA_BOT/__pycache__
/Include
/Lib
/MISION_1/PROYECTO_1/__pycache__
/MISION_1/PROYECTO_1/.pytest_cache
/MISION_1/PROYECTO_1/build
/MISION_1/PROYECTO_1/dist
/MISION_1/PROYECTO_1/env3_13_5
/MISION_3/venv3_13_5
/Mision2/venv3_13_5
/Mision2/proyecto_tkinter_ia_excel/__pycache__
/Mision2/pyvenv.cfg
/Scripts
/pyvenv.cfg

